body {
    font-family: 'Garamond', serif;
    width: 100%;
    max-width: 700px;
    margin: 1em auto;
    background: #efefef;
    box-sizing: border-box;
}

a {
    color: #000;
}

article {
    border-bottom: 1px solid #aaa;
    margin: 1em 0;
    padding-bottom: 1em;
}

.lr-split {
    white-space: nowrap;
}

.left, .right {
    width: 50%;
    display: inline-block;
    white-space: normal;
    vertical-align: top;
}

.left img {
    max-width: 100%;
    width: 100%;
    min-height: 250px;
    height: 250px;
    background: #fff;
}

.right {
    padding-left: 1em;
}

.right h2 {
    margin-top: 0;
}

.btn {
    border: 1px solid black;
    border-radius: 2px;
    padding: 2px 10px;
    text-decoration: none;
    color: black;
}

.btn:hover, .btn:active {
    background: #ccc;
}

@media screen and (max-width: 750px) {
    .left, .right {
        display: block;
        width: 100%;
    }
    .right {
        padding-left: 0;
    }
    body {
        padding: 0 1em;
        margin: 1em auto;
    }
}
